<% include ../partials/header %>

<div class="container">
	<h1 class="formHeader">Edit This Comment</h1>

	<div class="form">
		<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
			<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
			<button class="btn-primary btn submitBtn"">Submit</button>
		</form>
	</div>
	
	<div class="container" style="margin-top: 15px;">
		<center><a href="/campgrounds">View All Campgrounds</a></center>
	</div>
	
</div>

<% include ../partials/footer %>