<% include ../partials/header %>

<div class="container">
	<h1 class="formHeader">New comment to <%= campground.name %></h1>

	<div class="form">
		<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			<input class="form-control" type="text" name="comment[text]" placeholder="Comment">
			<button class="btn-primary btn submitBtn">Submit</button>
		</form>
	</div>
	
	<div class="container" style="margin-top: 20px;">
		<center><a href="/campgrounds">View All Campgrounds</a></center>
	</div>
	
</div>

<% include ../partials/footer %>