<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp Admin</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>

	<body>
		<div class="container">
			<% if(success && success.length > 0) {%>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
			<% if(error && error.length > 0) {%>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>

			<div class="auth">
				<h1 class="formHeader">Admin Log In!</h1>
				<form action="/admin" method="POST" style="margin-top: 10px;">
					<input class="form-control" id="adminUsername" type="text" name="username" value="<%= admin.username %>" readonly="readonly">
					<input class="form-control" id="adminPassword" type="password" name="password" placeholder="password">
					<button class="btn btn-primary submitBtn">Log In</button>
				</form>
			</div>
		</div>

		
		

<% include ./partials/footer %>