<% include partials/header.ejs %>

<div class="container">
	<h1 style="text-align: center;">Landing Page</h1>

	<p style="text-align: center;">Welcome to YelpCamp</p>
	
	<center><a href="/campgrounds">View All Campgrounds</a></center>
</div>


<% include partials/footer.ejs %>