<% include ../partials/header %>

<div class="container" style="margin-bottom : 30px;">
	<h1 class="formHeader">Create a new Campground</h1>

	<div class="form">
		<form action="/campgrounds" method="POST" style="text-align: center;">
			<label for="location">Name</label>
			<input class="form-control" type="text" name="campground[name]" placeholder="Campground Name">
			<label for="location">Image</label>
			<input class="form-control" type="text" name="campground[image]" placeholder="Campground Image url">
			<label for="location">Description</label>
			<textarea id="description" class="form-control" name="campground[description]" placeholder="Campground Description"></textarea>
			<label for="location">Location</label>
			<input class="form-control" type="text" name="location" placeholder="Leavenworth, WA">
			<button class="btn-primary btn submitBtn">Add It</button>
		</form>
	</div>
	
	<div class="container" style="margin-top: 20px;">
		<center><a href="/campgrounds">View All Campgrounds</a></center>
	</div>
	
</div>

<% include ../partials/footer %>